
.syntax--source {

  .syntax--json {
    color: lighten(@red, 15%);
  }

  &.syntax--gfm {
    .syntax--link {
      color: @blue;
    }
    .syntax--list {
      color: @red;
    }
    .syntax--markup {
      -webkit-font-smoothing: auto;
      &.syntax--heading {
        color: @green;
      }
      &.syntax--link {
        color: @cyan;
      }
      &.syntax--bold {
        font-style: bold;
        color: @syntax-text-color;
      }
      &.syntax--italic {
        font-style: italic;
        color: @syntax-text-color;
      }
    }
  }

}
